<?xml version="1.0" encoding = "UTF-8"?>
<config>
    <dbCredential>
        <user_id>scmroot</user_id>
        <user_password>Stg@mCp</user_password>
        <user_email>uaslam01@i2cinc.com</user_email>
    </dbCredential>
    <command_set>
        <command>cd /y/mcmpdata/Mcpmobile_spring</command>
        <command>clear</command>
        <command>ls</command>
    </command_set>

    <environment>
        <terminal_config>
            <node_ip>192.168.150.157</node_ip>
            <logs_path>/y/mcmpdata/Mcpmobile_spring</logs_path>
            <user_id>aimran01</user_id>
            <user_password>Multan@123456</user_password>
        </terminal_config>
        <db_name>Dev</db_name>
        <db_configs>
            <db_urls>
                <si_url>jdbc:informix-sqli://192.168.150.182:9214/cards:informixserver=inst0016_net_06;database=cards
                </si_url>
                <mi_url>
                    jdbc:informix-sqli://192.168.151.101:2038/card_instances:informixserver=inst0017_net_02;database=card_instances;
                </mi_url>
            </db_urls>
            <db_users>
                <user_id>syasin01</user_id>
                <user_id>syasin</user_id>
                <user_id>smushtaq</user_id>
                <user_id>mkhalil</user_id>
                <user_id>isharif1</user_id>
                <user_id>uqayyum</user_id>
            </db_users>
            <db_apps>
                <app_id>i2cdemo</app_id>
                <app_id>mcpDemoV2</app_id>
                <app_id>odosV32</app_id>
                <app_id>greenV32</app_id>
                <app_id>cma</app_id>

            </db_apps>
        </db_configs>
    </environment>
    <environment>
        <terminal_config>
            <node_ip>192.168.150.157</node_ip>
            <logs_path>/y/mcmpdata/Mcpmobile_spring</logs_path>
            <user_id>aimran01</user_id>
            <user_password>Multan@123456</user_password>
        </terminal_config>
        <db_name>QA</db_name>
        <db_configs>
            <db_urls>
                <si_url>
                    jdbc:informix-sqli://192.168.150.182:9209:informixserver=inst0002_net_06;database=cards;NEWCODESET=UTF8,8859-1,819;IFX_USE_STRENC=true;
                </si_url>
                <mi_url>
                    jdbc:informix-sqli://192.168.151.101:2039/card_instances:informixserver=inst0020_net_02;NEWCODESET=UTF8,8859-1,819;IFX_USE_STRENC=true;
                </mi_url>
            </db_urls>
            <db_users>
                <user_id>Bushsaving</user_id>
                <user_id>mkhalil</user_id>
                <user_id>mdevices</user_id>
                <user_id>sbsaving</user_id>
                <user_id>rabiaqe</user_id>
                <user_id>sbchecking</user_id>
                <user_id>bqaisar1</user_id>
                <user_id>bushra123</user_id>
                <user_id>bushck1</user_id>
                <user_id>agent08</user_id>
                <user_id>rabiaqe</user_id>
                <user_id>bqaisar</user_id>
                <user_id>anum93</user_id>
                <user_id>anum23</user_id>
                <user_id>anumqc</user_id>
                <user_id>anasir</user_id>
                <user_id>qeg01</user_id>
                <user_id>qegtestqaqa</user_id>
                <user_id>amohsin</user_id>
                <user_id>mnaeem1072</user_id>
                <user_id>Bushra1</user_id>
                <user_id>Bushra12</user_id>
                <user_id>bushra123</user_id>
                <user_id>testuser</user_id>
                <user_id>smushtaq</user_id>
                <user_id>araza08</user_id>

            </db_users>
            <db_apps>
                <app_id>i2cdemo</app_id>
                <app_id>aeldra</app_id>
                <app_id>i2cEnhancementV2</app_id>


                <app_id>mcpDemoV2</app_id>
                <app_id>cma</app_id>
                <app_id>PrepaidTestV32</app_id>
                <app_id>cbtc</app_id>
                <app_id>cibc</app_id>
                <app_id>yourBankDrV32</app_id>
                <app_id>bendigoV32</app_id>
                <app_id>fairFintechV32</app_id>
            </db_apps>
        </db_configs>
    </environment>
</config>